:host {
  display: flex;
  flex-grow: 1;
}

.main {
  height: 100%;
  width: 100%;
  .login-form {
    max-width: 500px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
}
