/* You can add global styles to this file, and also import other style files */
:host ::ng-deep .ant-avatar {
  margin-top: 16px;
  margin-right: 16px;
}

//横着排
.df {
  display: flex;
}

// 竖着排
.fdc {
  flex-direction: column;
}

.fdr {
  flex-direction: row;
}

//横着居中
.jcc {
  justify-content: center;
}

//横着两端对齐
.jcsb {
  justify-content: space-between;
}

//垂直居中
.aic {
  align-items: center;
}

//子元素垂直居中
.asc {
  align-self: center;
}
z
  //可以换行
  .fww {
  flex-wrap: wrap;
}

//横着右对齐
.jcfe {
  justify-content: flex-end;
}

.aifs {
  align-items: flex-start;
}

.aife {
  align-items: flex-end;
}
